.button{
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-max-height: "Infinity";
    -fx-max-width: "Infinity";
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 65% 75%;
    -fx-background-color: #3a3a3c;
}

.label{
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.button:hover{
    -fx-font-size: 33;
    -fx-background-size: 67% 77%;
}

.subButton:hover{
    -fx-font-size: 27;
}

.subButton{
    -fx-font-size: 25;
}

.root{
    -fx-font-weight: bold;
    -fx-background-color: #3a3a3c;
}

.text-field{
    -fx-font-size: 30;
    -fx-background-color: #575759;
    -fx-text-fill: white;
}

.errorLabel{
    -fx-text-fill: #d94c6d;
}

#DeckLabel{
    -fx-max-height: "Infinity";
    -fx-max-width: "Infinity";
    -fx-text-fill: black;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 50% 100%;
    -fx-alignment: center;
    -fx-background-image: url('../images/DeckBackside.jpg');
}

#MainLabel{
    -fx-font-weight: normal;
    -fx-font-size: 20;
}

#setLogo{
    -fx-max-height: "Infinity";
    -fx-max-width: "Infinity";
    -fx-background-image: url('../images/SetHomeScreen.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 80% 100%;
}

#playerField{
    -fx-text-alignment: justify;
}