.button{
    -fx-text-fill: white;
    -fx-max-width: "Infinity";
    -fx-max-height: "Infinity";
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 75% 75%;
    -fx-background-color: #3a3a3c;
}

.label{
    -fx-text-alignment: center;
    -fx-content-display: center;
    -fx-wrap-text: true;
}

.root{
    -fx-background-color: #3a3a3c;
}

.label{
    -fx-text-fill: white;
}

#DeckLabel{
    -fx-text-fill: black;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 60% 100%;
    -fx-max-width: "Infinity";
    -fx-max-height: "infinity";
    -fx-alignment: center;
    -fx-background-image: url('../images/DeckBackside.jpg');
}