.toggle-button{
    -fx-max-height: "Infinity";
    -fx-max-width: "Infinity";
    -fx-padding: 20;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    /* -fx-background-image: url(); */
    -fx-background-size: 75%;
}

.button{
    -fx-max-width: "Infinity";
    -fx-max-height: "Infinity";
}